*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f4;
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
    color: white;
    position: relative;
    z-index:10;
    background: #333;
    
}

.logo{
    font-size: 24px;
    font-weight: bold;
}


.nav-link{
    padding-top: 15px;
    display: flex;
    list-style: none;
    gap:20px;
    transition: transform 0.3s ease-in-out;
}

.nav-link li{
    position: relative;
}

.nav-link li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding:8px 12px;
    transition: background 0.3s ease-in-out;
    display: block;
}

.nav-link li{
    background:#444;
    border-radius:5px;
}

